

#card {
    display: block;
    align-content: center;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.555);
    padding: 5px    ;
    width: 300px;
    height: 350px;
    margin: 22px;
    float: left;       
}
#imgCard{
    margin-left: 60px;
    width: 170px;
    max-height: 190px;
    border-radius: 4px;
    box-shadow: 0px 0px  4px black;
    
}

#tittleCard{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 1px;
    font-family: monospace;
}



