.createDog {
    display: block;
    margin-top: 100px;
    margin-left: 320px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.555);
    width: 800px;
    min-height: 500px;
    max-height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;  

}


#form{
    width: 600px;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;  
}

#form label{
    margin-right: 40px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 1px;
    font-family: monospace;
}

#form ul{
    width: 100%;
    margin-top: 40px;
    list-style:none;
}
#form ul li{
    padding-bottom:10px;
}
#form ul li label{
    display: inline-block;
    width:300px;
}
#form ul li input{
    font-size: 15px;
    font-family: monospace;
    width: 220px;
}


.btn1{
    margin: 20px;
    text-align: center;
    height: 25px;
    background-color: rgb(255, 166, 0) ;
    border-radius: 8px;
    width: 60px;
    font-size:medium;
    border-width: 2px;
    cursor: pointer;
    color: black;   
    font-weight: bold;
}

.btn1:hover{
    cursor: pointer;
}

.btn3{
    margin-left: 10px;
    align-items: center;
    border-radius: 100px;
    color: black;
    font-weight: bold;
    height: 20px;
    width: 30px;
    background-color: rgb(255, 166, 0) ;
    border: 2px solid black
   
}

.containerButton{
    
    text-align: center;
}

#temp{
    background-color: transparent;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    height: 22px;
}

.error{
    color: red;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
}
